{% extends 'base.html'%}

{% block title %}
Bienvenido
{%endblock%}


{% block content%} 
<div class="hero">
    <div class="hero-content">
          <div class="left padded"> 
            <h1>Desarrollador</h1>
            <h1>HELMER IGNACIO MORALES ARANDA</h1>
            <p> Mucho gusto que visites mi página, 
                me gusta aprender y compartir conocimiento, me gusta la tecnología y la programación, 
                me gusta la música y el deporte, me gusta la naturaleza y la vida en general.
            </p>
        
            <a href="#contacto" class="button"> Contáctame</a>

        </div>
        <div class="right">
            <img src="{{url_for('static', filename='img/backgraound.png')}}" width=600px />
        </div>
    </div>    
</div>
{% include 'portafolio/section-first.html'%}
{% include 'portafolio/section-second.html'%}
{% include 'portafolio/section-third.html'%}


{%endblock%}

