<div class="center">
    <div class="content">
        <div class="row vert-padding">
            <div class="left padded">
                <h1>Desarrollo con pasion aplicaciones y sitios web para personas.</h1>
                <p>Aprendiendo constantemente</p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar lo que quieras</h1>
                <p>Hablemos pichando el siguiente <a class="orange" href="#contacto">link</a></p>
            </div>
        </div>
    </div>
</div>