<div class="center">
    <div class="content reveal">
        <div class="row vert-padding">
            <div class="left padded">
                <h1>Conocimientos en:</h1>
                <p><ul>
                    <li>Python</li>
                    <li>Javascript</li>
                    <li>PHP</li>
                    <li>HTML</li>
                </ul>
    
                </p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar </h1>
                <p>Pinchando este <a class="orange" href="#contacto">link</a> podrás enviarme un correo para que hablemos</p>
            </div>
        </div>
    </div>
</div>