<div class="center padded">
    <div class="content reveal">
        <div class="row vert-padding">
            <div class="left padded">
               <h1>Conversemos</h1>
               <p>Deje su Mensaje por correo, o por whatsapp preionando el siguiente botón</p>
               <br>
               <a class="button green" href="https://api.whatsapp.com/send?phone=56990614917" target="_blank"><i class="fab fa-whatsapp"> </i> Ir a Whatsapp</a>
            </div>
            <div id="contacto" class="right padded">
               <form class="contact-form" method="POST" action="https://formsubmit.co/helmer.morales1@gmail.com">
                    <input name='name' placeholder="Nombre" required />
                    <input name='email' placeholder="Correo" required type="email"/>
                    <textarea name="message"  placeholder="Mensaje" required minlength="10"></textarea>
                    <button class="button full-width"> Enviar</button>
               </form>
            </div>
        </div>
    </div>
</div>