<div class="center padded white-bg">
    <div class="content padded reveal">
       <div class="padded">
           <h1>Mis proyectos</h1>
       </div>
       <div class="row">
           <div class="card third">
            <img height=50 src="{{url_for('static', filename='img/python_postgres.png')}}">

            <h3>Conexión Python con PostgreSQL</h3>
            <p>Serie de Scripts creados en Python los cuales permiten crear y borrar tablas en PostgreSQL</p>
            <a class="orange" target="_blank" href="https://github.com/elmoconh/python_postgresql">Link Aquí</a>
           </div>
           <div class="card third">
                <img height=50 src="{{url_for('static', filename='img/chatbot.png')}}">
                <h3> Chatbot</h3>
                <p>Asistente virtual creado con Python y entrenado usando la librería de Tensorflow</p>
                <a class="orange" target="_blank" href="https://github.com/elmoconh/auctusbot">Link Aquí</a>
           </div>
            <div class="card third">
                <img height=50 src="{{url_for('static', filename='img/PHP-Mysql.png')}}">
                <h3> Carrito de compras</h3>
                <p>Carrito de compras desarrollado en PHP siguien el pátrón MVC,MySQL y Javascript (en proceso de arreglos visuales)</p>
                <a class="orange" target="_blank" href="https://carrito.up.railway.app">Link Aquí</a>
           </div>-
       </div>
    </div>
</div>