<div class="center">
    <div class="content reveal">
        <div class="row padded">
            <div class="left padded">
                <h1>Conocimientos en lenguajes:</h1>
                <p> 
                    <table>

                        <tbody>
                            <tr>
                                <th>
                                    <img height=50 src="{{url_for('static', filename='img/python.png')}}">
                                </th>
                                <th>
                                    <div class ="left padded" >
                                        <h3>Python</h3>
                                        <p>Frameworks: Django, Flask, FastAPI </p>            
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <img  height=50 src="{{url_for('static', filename='img/js.png')}}">
                                </th>
                                <th>
                                    <div class ="left padded" >
                                        <h3>Javascript</h3>
                                        <p>Frameworks: React, NodeJS, Express, Angular</p>            
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <img  width=50 src="{{url_for('static', filename='img/php.png')}}">
                                </th>
                                <th>
                                    <div class ="left padded" >
                                        <h3>PHP</h3>
                                        <p>Frameworks: Laravel</p>            
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <img  height=50 src="{{url_for('static', filename='img/csharp.png')}}">
                                </th>
                                <th>
                                    <div class ="left padded" >
                                        <h3>C#</h3>
                                        <p>Frameworks:  .NET Core</p>            
                                    </div>
                                </th>
                            
                        </tbody>
                    </table>
                </p>
            </div>
            <div class="right padded">
                <h1> Otros Conocimientos:</h1>
                <p>
                    <ul style="list-style: none;">
                        <li class="margin" >HTML</li>
                        <li class="margin" >CSS</li>
                        <li class="margin" >SQL</li>
                        <li class="margin" >MySQL</li> 
                        <li class="margin" >Tableau Public</li>
                        <li class="margin" >Power BI</li>
                        <li class="margin" >PostgreSQL</li>
                        <li class="margin" >SQLserver</li>
                        <li class="margin" >MongoDB</li>
                        <li class="margin" >Oracle</li>
                        <li class="margin" >Tensorflow</li>
                        <li class="margin" >Selenium</li>
                        <li class="margin" >Git</li>
                        <li class="margin" >Metodologías Ágiles</li>     
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

