<div class="center padded">
    <div class="content">
        <div class="row vert-padding">
            <div class="left padded">
               <h1>Ahora o nunca</h1>
               <p>Daré mi mejor esfuerzo</p>
            </div>
            <div id="contacto" class="right padded">
               <form class="contact-form" method="POST" action="https://formsubmit.co/helmer.morales1@gmail.com">
                    <input name='name' placeholder="Nombre" required />
                    <input name='email' placeholder="Correo" required type="email"/>
                    <textarea name="message"  placeholder="Mensaje" required minlength="10"></textarea>
                    <button class="button full-width"> Enviar</button>
               </form>
            </div>
        </div>
    </div>
</div>